
body {
    background-color: rgb(20, 106, 187);
    height: 200vh;
}
.quote{
    display: flex;
}

.mainBody {
    background-color: white;
    border-radius: 12px;
    margin-top: 5%;
    height: 140vh;

}

.main {
    display: flex;
    gap: 5%;
}

.womensRole{
    text-align: center;
    width: 45vw;
    background-color: rgb(247, 240, 229);
    font-size: 20px;
    padding: 2%;
    overflow: scroll;
    height: 115vh;
    margin-top: 3%;
    margin-bottom: 2%;
}

.backlog-collection{
    position: relative;
    display: inline-block;
}

.collecton {
    display: none;
    position: absolute;
    background-color: rgb(20, 106, 187);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: smaller;
    color: white;
    border-radius: 10px;
    height: auto;
    line-height: 5vh;
}

.collecton a {
    color: white;
}

.backlog-collection:hover .collecton {
    display: block;
}

.backlog-collection span {
    color: navy;
    font-size: 1.5em;
    justify-content: center;
}

.advertise {
    width: 40%;

}

.marketing {
    width: 40%;
}
.marketing img{
    width: 88%;
    margin-top: 98%;
    height: 42%;
    margin-left: -10%;
    
}

.bookTitle {
    text-align: center;
    color: white;
    font-size: 2em;
}

#title {
    color: orange;

}

.titleBlog {
    background-color: white;
}

#titleBlog {
    text-align: center;
    font-size: 2em;
    color: rgb(20, 106, 187);
}

.blogs {
    position: absolute;
    top: 125%;
    left: 5%;
    width: 80vw;
    padding-left: 5%;

}


#paragraph {
    text-align: left;
}

.footer{
    display: flex;
    gap: 5%;
    justify-content: center;
   padding: 3%;
 }
 .footer li{
    color: white;
    font-size: 1.5em;
    justify-content: space-around;
    list-style: none;
    a{
       color: white;
       text-decoration: none;
    }
    a:hover{
     color: rgb(20, 106, 187);
    }
 }
 #footerTitle{
    color: rgb(20, 106, 187);
 }
 .adv img{
    margin-left: 10%;
    margin-top: 55%;
 }
 .women{
    margin-top: 23%;
 }
 .keep a{
margin-left: 32.5%;
font-size: 150%;
padding: 10px;
text-decoration: none;

 }
#photo{
   padding-top: 15px;
   font-size: 20px;
   margin-left: 20%; 

   
} 
#read{
    font-size: 20px;
}
@media only screen and (max-width: 750px){

    body {
        background-color: rgb(20, 106, 187);
        height: 200vh;
    }
    .quote{
        display: flex;
    }
    
    .mainBody {
        background-color: white;
        border-radius: 12px;
        margin-top: 5%;
        height: 380vh;
        width: 125vw;
    
    }
    
    .main {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
    
    .womensRole{
        text-align: center;
        width: 115vw;
        background-color: rgb(247, 240, 229);
        font-size: 20px;
        padding: 2%;
        overflow: scroll;
        height: 115vh;
        margin-top: 10%;
        /* margin-bottom: 2%; */
    }
    
    .backlog-collection{
        position: relative;
        display: inline-block;
    }
    
    .collecton {
        display: none;
        position: absolute;
        background-color: rgb(20, 106, 187);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        font-size: smaller;
        color: white;
        border-radius: 10px;
        height: auto;
        line-height: 5vh;
    }
    
    .collecton a {
        color: white;
    }
    
    .backlog-collection:hover .collecton {
        display: block;
    }
    
    .backlog-collection span {
        color: navy;
        font-size: 1.5em;
        justify-content: center;
    }
    
    .advertise {
        width: 50%;
        margin-top: 105;
    
    }
    
    .marketing {
        width: 40%;
        
    }
    .marketing img{
        width: 150%;
     
        height: 15%;
        margin-left: 20%;
        margin-top: 60%;
        
    }
    
    .bookTitle {
        text-align: center;
        color: white;
        font-size: 12px;
        width: 500px;
    }
    
    #title {
        color: orange;
        font-size:10px ;
    
    }
    
    .titleBlog {
        background-color: white;
        width: 135.5%;
        margin-left: -2%;
    }
    
    #titleBlog {
        text-align: center;
        font-size: 20px;
        color: rgb(20, 106, 187);
    }
    
    .blogs {
        position: absolute;
        top: 125%;
        left: 5%;
        width: 80vw;
        padding-left: 5%;
    
    }
    
    
    #paragraph {
        text-align: left;
    }
    
    .footer{
        display: flex;
        gap: 5%;
        justify-content: center;
       padding: 3%;
       font-size: 8px;
       margin-left: -10%;
     }
     .footer li{
        color: white;
        font-size: 1.5em;
        justify-content: space-around;
        list-style: none;
        a{
           color: white;
           text-decoration: none;
        }
        a:hover{
         color: rgb(20, 106, 187);
        }
     }
     #footerTitle{
        color: rgb(20, 106, 187);
     }
     .adv img{
        margin-left: 10%;
        margin-top: 30%;
        width: 170%;
     }
     .women{
        margin-top: 27%;
     }
     .keep a{
    margin-left: 0%;
    font-size: 150%;
    padding: 10px;
    text-decoration: none;
    
    
     }
     .keep{
      margin-top: -115%;
     }
    #photo{
       padding-top: 15px;
       font-size: 20px;
       margin-left: 20%; 
    
       
    } 
    #read{
        font-size: 20px;
        margin-left: 28%;
        width: 200%;
    }
    #mary{
        width: 200%; 
        text-align: center;
    }
    .navigation{
        font-size: 12px;

    }
    .language img{
        
     height: 80%;
     margin-top: 24%;
    } 

}










@media only screen and (min-width: 751px) and (max-width:999px){


    body {
        background-color: rgb(20, 106, 187);
        height: 200vh;
    }
    .quote{
        display: flex;
    }
    
    .mainBody {
        background-color: white;
        border-radius: 12px;
        margin-top: 5%;
        height: 380vh;
        width: 97vw;
    
    }
    
    .main {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
    
    .womensRole{
        text-align: center;
        width: 90vw;
        background-color: rgb(247, 240, 229);
        font-size: 25px;
        padding: 2%;
        overflow: scroll;
        height: 115vh;
        margin-top: 10%;
        /* margin-bottom: 2%; */
    }
    
    .backlog-collection{
        position: relative;
        display: inline-block;
    }
    
    .collecton {
        display: none;
        position: absolute;
        background-color: rgb(20, 106, 187);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        font-size: smaller;
        color: white;
        border-radius: 10px;
        height: auto;
        line-height: 5vh;
    }
    
    .collecton a {
        color: white;
    }
    
    .backlog-collection:hover .collecton {
        display: block;
    }
    
    .backlog-collection span {
        color: navy;
        font-size: 1.5em;
        justify-content: center;
    }
    
    .advertise {
        width: 50%;
        margin-top: 105;
    
    }
    
    .marketing {
        width: 40%;
        
    }
    .marketing img{
        width: 200%;
     
        height: 42%;
        margin-left: 20%;
        
        
    }
    
    .bookTitle {
        margin-left: 15%;
        color: white;
        font-size: 20px;
        width: 500px;
    }
    
    #title {
        color: orange;
        font-size:17px ;
    
    }
    
    .titleBlog {
        background-color: white;
        width: 102.5%;
        margin-left: -2%;
    }
    
    #titleBlog {
        text-align: center;
        font-size: 20px;
        color: rgb(20, 106, 187);
    }
    
    .blogs {
        position: absolute;
        top: 125%;
        left: 5%;
        width: 80vw;
        padding-left: 5%;
    
    }
    
    
    #paragraph {
        text-align: left;
        margin-top: 5%;
    }
    #id{
        margin-top: 10%;
    }
    
    .footer{
        display: flex;
        gap: 5%;
        justify-content: center;
       padding: 3%;
       font-size: 12px;
       margin-left: 5%;
     }
     .footer li{
        color: white;
        font-size: 1.5em;
        justify-content: space-around;
        list-style: none;
        a{
           color: white;
           text-decoration: none;
        }
        a:hover{
         color: rgb(20, 106, 187);
        }
     }
     #footerTitle{
        color: rgb(20, 106, 187);
     }
     .adv img{
        margin-left: 22%;
        margin-top: 30%;
        width: 150%;
     }
     .women{
        margin-top: 40%;
        margin-left: 20%;
     }
     .keep a{
    margin-left: 0%;
    font-size: 150%;
    padding: 10px;
    text-decoration: none;
    
    
     }
     .keep{
      margin-top: -150%;
     }
    #photo{
       padding-top: 15px;
       font-size: 20px;
       margin-left: 59%;
       width: 100%; 
    
       
    } 
    #read{
        font-size: 20px;
        margin-left: 28%;
        width: 200%;
    }
    #mary{
        width: 200%; 
        text-align: center;
    }
    .navigation{
        font-size: 20px;

    }
    .language img{
        
     height: 100%;
     width: 325%;
     margin-top: 28%;
    } 

}











@media only screen and (min-width: 1000px) and (max-width:1300px){



    body {
        background-color: rgb(20, 106, 187);
        height: 200vh;
    }
    .quote{
        display: flex;
    }
    
    .mainBody {
        background-color: white;
        border-radius: 12px;
        margin-top: 5%;
        height: 570vh;
        width: 97vw;
    
    }
    
    .main {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
    
    .womensRole{
        text-align: center;
        width: 90vw;
        background-color: rgb(247, 240, 229);
        font-size: 25px;
        padding: 2%;
        overflow: scroll;
        height: 115vh;
        margin-top: 10%;
        /* margin-bottom: 2%; */
    }
    
    .backlog-collection{
        position: relative;
        display: inline-block;
    }
    
    .collecton {
        display: none;
        position: absolute;
        background-color: rgb(20, 106, 187);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        font-size: smaller;
        color: white;
        border-radius: 10px;
        height: auto;
        line-height: 5vh;
    }
    
    .collecton a {
        color: white;
    }
    
    .backlog-collection:hover .collecton {
        display: block;
    }
    
    .backlog-collection span {
        color: navy;
        font-size: 1.5em;
        justify-content: center;
    }
    
    .advertise {
        width: 50%;
        margin-top: 105;
    
    }
    
    .marketing {
        width: 45%;
        
    }
    .marketing img{
        width: 150%;
     
        height: 5%;
        margin-left: 20%;
        margin-top: 20%;
        
    }
    
    .bookTitle {
        margin-left: 24%;
        color: white;
        font-size: 30px;
        width: 500px;
    }
    
    #title {
        color: orange;
        font-size:22px;
    
    }
    
    .titleBlog {
        background-color: white;
        width: 102.5%;
        margin-left: -2%;
    }
    
    #titleBlog {
        text-align: center;
        font-size: 35px;
        color: rgb(20, 106, 187);
    }
    
    .blogs {
        position: absolute;
        top: 125%;
        left: 5%;
        width: 80vw;
        padding-left: 5%;
    
    }
    
    
    #paragraph {
        text-align: left;
        margin-top: 5%;
    }
    #id{
        margin-top: 0%;
    }
    
    .footer{
        display: flex;
        gap: 5%;
        justify-content: center;
       padding: 3%;
       font-size: 15px;
       margin-left: 5%;
     }
     .footer li{
        color: white;
        font-size: 1.5em;
        justify-content: space-around;
        list-style: none;
        a{
           color: white;
           text-decoration: none;
        }
        a:hover{
         color: rgb(20, 106, 187);
        }
     }
     #footerTitle{
        color: rgb(20, 106, 187);
     }
     .adv img{
        margin-left: 22%;
        margin-top: 30%;
        width: 140%;
     }
     .women{
        margin-top: 10%;
        margin-left: 23%;
     }
     .keep a{
    margin-left: 0%;
    font-size: 150%;
    padding: 10px;
    text-decoration: none;
    
    
     }
     .keep{
      margin-top: -105%;
     }
    #photo{
       padding-top: 15px;
       font-size: 20px;
       margin-left: 59%;
       width: 100%; 
    
       
    } 
    #read{
        font-size: 20px;
        margin-left: 28%;
        width: 200%;
    }
    #mary{
        width: 200%; 
        text-align: center;
    }
    .navigation{
        font-size: 30px;

    }
    .language img{
        
     height: 70%;
     width: 380%;
     margin-top: 28%;
    } 



























}
 
 
 
 
 
