body {
    background-color: rgb(8, 8, 82);
    height: 200vh;
}

.mainBody {
    background-color: white;
    border-radius: 12px;
    margin-top: 5%;
    height: 100vh;

}

.main {
    display: flex;
    gap: 5%;
}

.identity {
    text-align: center;
    width: 45vw;
    background-color:rgb(247, 240, 229);
    font-size: 20px;
    padding: 2%;
    overflow: scroll;
    height: 75vh;
    margin-top: 3.5%;

}


.backlog-collection{
    position: relative;
    display: inline-block;
}

.collecton {
    display: none;
    position: absolute;
    background-color: rgb(20, 106, 187);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: smaller;
    color: white;
    border-radius: 10px;
    height: auto;
    line-height: 5vh;
}

.collecton a {
    color: white;
}

.backlog-collection:hover .collecton {
    display: block;
}

.backlog-collection span {
    color: navy;
    font-size: 1.5em;
    justify-content: center;
}

.advertise {
    width: 40%;

}

.marketing {
    width: 40%;
}
.marketing img{
    width: 100%;
    margin-left:-10%;
    margin-top: 60%;
}

.bookTitle {
    text-align: center;
    color: white;
    font-size: 2em;
}

#title {
    color: orange;

}

.titleBlog {
    background-color: white;
}

#titleBlog {
    text-align: center;
    font-size: 2em;
    color: rgb(8, 8, 82);
}

.blogs {
    position: absolute;
    top: 125%;
    left: 5%;
    width: 80vw;
    padding-left: 5%;

}
#keep{
    font-size: 30px;
    margin-left: 28%;
    margin-top: 6%;
}
.blogs a{
   text-decoration: none;

}
#paragraph {
    text-align: left;
}

.footer{
    display: flex;
    gap: 5%;
    justify-content: center;
   padding: 3%;
 }
 .footer li{
    color: white;
    font-size: 1.5em;
    justify-content: space-around;
    list-style: none;
    a{
       color: white;
       text-decoration: none;
    }
    a:hover{
     color: rgb(20, 20, 61);
    }
 }
 #footerTitle{
    color: rgb(20, 20, 61);
 }
 .quote{
    display: flex;
    width: 45vw;
    gap:1%;
 }
 #text{
    text-align: left;
    margin-top: 40%;
 }
 #patricia{
    margin-left: 17%;
    margin-top: 18%;
 }







 @media only screen and (max-width: 750px){
    
body {
    background-color: rgb(8, 8, 82);
    height: 200vh;
 
}

.mainBody {
    background-color: white;
    border-radius: 12px;
    margin-top: 5%;
    height: 250vh;
   

}

.main {
    display: flex;
    flex-direction: column;
    gap: 5%;
    
}

.identity {
    text-align: center;
    width: 90vw;
    background-color:rgb(247, 240, 229);
    font-size: 10px;
    padding: 2%;
    overflow: scroll;
    height: 75vh;
    margin-top: 5%;

}


.backlog-collection{
    position: relative;
    display: inline-block;
}

.collecton {
    display: none;
    position: absolute;
    background-color: rgb(20, 106, 187);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: smaller;
    color: white;
    border-radius: 10px;
    height: auto;
    line-height: 5vh;
}

.collecton a {
    color: white;
}

.backlog-collection:hover .collecton {
    display: block;
}

.backlog-collection span {
    color: navy;
    font-size: 1.5em;
    justify-content: center;
}

.advertise {
    width: 40%;

}

.marketing {
    width: 40%;
}
.marketing img{
    width: 170%;
    margin-left:20%;
    margin-top: 250%;
}

.bookTitle {
    text-align: center;
    color: white;
    font-size: 12px;
    width: 500px;
    line-height: 1px;
    margin-left: -17%;
}

#title {
    color: orange;
    font-size: 12px;
    padding-top: 2px;

}

.titleBlog {
    background-color: white;
    width: 104%;
    margin-left: -2%;
}

#titleBlog {
    text-align: center;
    font-size: 20px;
    color: rgb(8, 8, 82);
}

.blogs {
    position: absolute;
    top: 125%;
    left: 5%;
    width: 80vw;
    padding-left: 5%;

}
#keep{
    font-size: 15px;
    margin-left: -10%;
    margin-top: 105%;
}
.blogs a{
   text-decoration: none;

}
#paragraph {
    text-align: left;
}

.footer{
    display: flex;
    gap: 5%;
    justify-content: center;
   padding: 3%;
   font-size: 7px;
 }
 .footer li{
    color: white;
    font-size: 1.5em;
    justify-content: space-around;
    list-style: none;
    a{
       color: white;
       text-decoration: none;
    }
    a:hover{
     color: rgb(20, 20, 61);
    }
 }
 #footerTitle{
    color: rgb(20, 20, 61);
 }
 .quote{
    display: flex;
    width: 45vw;
    gap:1%;
 }
 #text{
    text-align: left;
    margin-top: 40%;
    margin-left: 8%;
    width: 400%;
 }
 #patricia{
    margin-left: 17%;
    margin-top: 18%;
    width: 300px;
 }

.navigation{
    font-size: 15px;
}
.language img{
    width: 80px;
    margin-top: 32%;
}
.text{
    margin-top: 40%;
}
 }












 @media only screen and (min-width: 751px) and (max-width:999px){

    body {
        background-color: rgb(8, 8, 82);
        height: 200vh;
     
    }
    
    .mainBody {
        background-color: white;
        border-radius: 12px;
        margin-top: 5%;
        height: 230vh;
        width: 95vw;
    
    }
    
    .main {
        display: flex;
        flex-direction: column;
        gap: 5%;
        
    }
    
    .identity {
        text-align: center;
        width: 90vw;
        background-color:rgb(247, 240, 229);
        font-size: 17px;
        padding: 2%;
        overflow: scroll;
        height: 75vh;
        margin-top: 5%;
    
    }
    
    
    .backlog-collection{
        position: relative;
        display: inline-block;
    }
    
    .collecton {
        display: none;
        position: absolute;
        background-color: rgb(20, 106, 187);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        font-size: smaller;
        color: white;
        border-radius: 10px;
        height: auto;
        line-height: 5vh;
    }
    
    .collecton a {
        color: white;
    }
    
    .backlog-collection:hover .collecton {
        display: block;
    }
    
    .backlog-collection span {
        color: navy;
        font-size: 1.5em;
        justify-content: center;
    }
    
    .advertise {
        width: 40%;
    
    }
    
    .marketing {
        width: 40%;
    }
    .marketing img{
        width: 200%;
        margin-left:20%;
        margin-top: 100%;
    }
    
    .bookTitle {
        text-align: center;
        color: white;
        font-size: 20px;
        width: 500px;
        line-height: 1px;
        margin-left: 15%;
    }
    
    #title {
        color: orange;
        font-size: 20px;
        padding-top: 2px;
    
    }
    
    .titleBlog {
        background-color: white;
        width: 102.5%;
        margin-left: -2%;
    }
    
    #titleBlog {
        text-align: center;
        font-size: 20px;
        color: rgb(8, 8, 82);
    }
    
    .blogs {
        position: absolute;
        top: 125%;
        left: 5%;
        width: 80vw;
        padding-left: 5%;
    
    }
    #keep{
        font-size: 30px;
        margin-left: -10%;
        margin-top: 75%;
    }
    .blogs a{
       text-decoration: none;
    
    }
    #paragraph {
        text-align: left;
    }
    
    .footer{
        display: flex;
        gap: 5%;
        justify-content: center;
       padding: 3%;
       font-size: 12px;
     }
     .footer li{
        color: white;
        font-size: 1.5em;
        justify-content: space-around;
        list-style: none;
        a{
           color: white;
           text-decoration: none;
        }
        a:hover{
         color: rgb(20, 20, 61);
        }
     }
     #footerTitle{
        color: rgb(20, 20, 61);
     }
     .quote{
        display: flex;
        width: 45vw;
        gap:1%;
     }
     #text{
        text-align: left;
        margin-top: 40%;
        margin-left: 20%;
        width: 400%;
     }
     #patricia{
        margin-left: 17%;
        margin-top: 18%;
        width: 200%;
     }
    
    .navigation{
        font-size: 15px;
    }
    .language img{
        width: 170px;
        margin-top: 32%;
    }
    .text{
        margin-top: 40%;
    }

 }











 @media only screen and (min-width: 1000px) and (max-width:1300px){

    body {
        background-color: rgb(8, 8, 82);
        height: 200vh;
     
    }
    
    .mainBody {
        background-color: white;
        border-radius: 12px;
        margin-top: 5%;
        height: 500vh;
        width: 98vw;
    
    }
    
    .main {
        display: flex;
        flex-direction: column;
        gap: 5%;
        
    }
    
    .identity {
        text-align: center;
        width: 90vw;
        background-color:rgb(247, 240, 229);
        font-size: 22px;
        padding: 2%;
        overflow: scroll;
        height: 160vh;
        margin-top: 5%;
    
    }
    #paragraph{
        margin-top: 0%;
    }
    
    
    .backlog-collection{
        position: relative;
        display: inline-block;
    }
    
    .collecton {
        display: none;
        position: absolute;
        background-color: rgb(20, 106, 187);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        font-size: smaller;
        color: white;
        border-radius: 10px;
        height: auto;
        line-height: 5vh;
    }
    
    .collecton a {
        color: white;
    }
    
    .backlog-collection:hover .collecton {
        display: block;
    }
    
    .backlog-collection span {
        color: navy;
        font-size: 1.5em;
        justify-content: center;
    }
    
    .advertise {
        width: 40%;
    
    }
    
    .marketing {
        width: 40%;
    }
    .marketing img{
        width: 200%;
        margin-left:20%;
        margin-top: 35%;
    }
    
    .bookTitle {
        text-align: center;
        color: white;
        font-size: 35px;
        width: 800px;
        line-height: 1px;
        margin-left: 12%;
        line-height: 15%;
    }
    
    #title {
        color: orange;
        font-size: 30px;
        padding-top: 5px;
    
    }
    
    .titleBlog {
        background-color: white;
        width: 102.5%;
        margin-left: -2%;
    }
    
    #titleBlog {
        text-align: center;
        font-size: 35px;
        color: rgb(8, 8, 82);
    }
    
    .blogs {
        position: absolute;
        top: 125%;
        left: 5%;
        width: 80vw;
        padding-left: 5%;
    
    }
    #keep{
        font-size: 25px;
        margin-left: -10%;
        margin-top: 200%;
    }
    .blogs a{
       text-decoration: none;
    
    }
    #paragraph {
        text-align: left;
    }
    
    .footer{
        display: flex;
        gap: 5%;
        justify-content: center;
       padding: 3%;
       font-size: 12px;
     }
     .footer li{
        color: white;
        font-size: 1.5em;
        justify-content: space-around;
        list-style: none;
        a{
           color: white;
           text-decoration: none;
        }
        a:hover{
         color: rgb(20, 20, 61);
        }
     }
     #footerTitle{
        color: rgb(20, 20, 61);
     }
     .quote{
        display: flex;
        width: 45vw;
        gap:1%;
     }
     #text{
        text-align: left;
        margin-top: 40%;
        margin-left: 20%;
        width: 400%;
     }
     #patricia{
        margin-left: 20%;
        margin-top: 18%;
        width: 200%;
     }
    
    .navigation{
        font-size: 22px;
    }
    .language img{
        width: 267px;
        margin-top:5%;
        height: 75%;
    }
    .text{
        margin-top: 26%;
    }

 }









 
 
 
 
 