body{
    /* background-color: rgb(20, 106, 187); */
    overflow-x: hidden;
    /* height: 100vh; */
    margin: 0;
    
    z-index: 1000;
    /* position: absolute; */

  
}
.splash{
  background-image: url(trevor-noah-blog-Images/yellowbg.jpg);
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: darken;
  /* filter: brightness(30%); */
}


    

body img{
  border-bottom: solid yellow;
  border-width: 1vh;
  /* border-bottom: ; */
  margin-left: 75vw;
  margin-bottom: -80vh;
  margin-top: 85vh;
  box-shadow: 8px 5px 15px black;
  
  
}
#minorexcerpt{
   
  margin-left: 73vw;
  margin-bottom: -130vh;
  margin-top: 90vh;
  width: 40vh;
  font-family: sans-serif;
  color: navy;
  font-size: 20px;
  background-color: aliceblue;
  padding: 10px;
  box-shadow: 8px 5px 15px black;
  z-index: 1000;
  position: absolute;

  

  } 

.header{
  width: 100vw;
  height: 30vh;
  margin: -1%;
}
.body{
    background-color: white;
    height: auto;
    width: 90vw;
    margin: auto;
    border-radius: 2em;
    z-index: -3 ;
    box-shadow: 10px 15px 20px;
    margin-top: -10vh;
    padding: 15px;
    background-color: rgb(20, 106, 187);
    
    
    /* background-image: linear-gradient( to bottom right, yellow, white); */
      
    
}
.content{
    background-color: white;
    padding: 2em;
    width: 40vw;
    height: auto;
    /* margin: auto; */
    transform: translate(50%);
    overflow-x: hidden;
    box-shadow: 10px 15px 20px;
    margin-top: 2vh;
    font-family: sans-serif;
    
    

}

.content p{
  font-size: 1.2em;
  line-height: 1.4em;
}

      
    
  
  
  li{
    display: block;
    text-align: center;
  }
  .navBar{
/* justify-content: center; */
width: 20vh;
/* border: solid; */
line-height: 5vh;
margin-top: -25vh;
/* border: solid; */
padding-top: 35vh;
margin-left: 20vh;


 }
 .navBar hr{
  color: black;
  background-color: black;
  z-index: auto;
  /* position: absolute; */
 }
 li a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    justify-content:  center;
    
 }
 li a:hover{
  transform: scale(1.1);
  color: darkgoldenrod;
 }
 #excerpt{
   font-style: italic;
    font-size: 1.4em;
    bottom: 5%;
    color: navy;
 }
 #excerptAnalysis{
    font-size: 1.2em;
 }
 .bookTitle{
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    /* background-color:rgb(20, 106, 187);; */
    /* border: solid; */
    /* width: 70vh; */
    margin: auto;
    margin-top: -90vh;
    padding: 20px;
    height: 20vh;

    
 }

 .bookTitle h1{

 }

 .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: smaller;
  color: black;
  border-radius: 10px;
  height: auto;
  line-height: 5vh;
  border-top: solid 5px yellow;
  border-bottom:  solid 5px yellow;
  

}
.dropdown-content a{
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown span{
  color: white;
    font-size: 1.5em;
    justify-content:  center;
}




/* .otherarticles{
  /* border: solid; 
  display: flex;
  height: auto;
  justify-content: space-between;
  /* margin-top: 3em;
  margin: 4em 4em;
  
}
.article{
  background-color: aliceblue;
  box-shadow: 8px 5px 15px black;
  padding: 20px;

  
} */


.footer{
  display: flex;
  /* gap: 5%; */
  justify-content: center;
 padding: 1%;
}
.footer li{
  color: white;
  font-size: 1em;
  /* justify-content: space-around; */
  text-align: left;

  a{
     color: rgb(220, 220, 233);
  }
  a:hover{
   color: goldenrod;
  }
}
#footerTitle{
  color: rgb(20, 20, 61);

}
.footer{
  width: 100vw;
  height: auto;
  margin: -1%;
  margin-top: 20vh;
  background-color: rgb(20, 106, 187);
  backdrop-filter: blur(5px);
  
}
.blogs {
  position: absolute;
  top: 170%;
  left: 5%;
  width: 80vw;
  padding-left: 5%;
}
.articles {
  display: flex;
  gap: 4%;
}
.article {
  background-color: aliceblue;
  width: 15vw;
  height: 30vh;
  padding: 5%;
  margin-top: 1%;
  box-shadow: 0 4px 8px 0 rgba(31, 30, 30, 0.2), 0 6px 20px 0 rgba(36, 35, 35, 0.19);
}

.article:hover{
  transform: scale(1.1);
  cursor: pointer;
}
#articlesTitle {
  background-color: rgb(20, 106, 187);
  color: white;
  width: 76vw;
  text-align: center;
  font-size: 3em;
  box-shadow: 0 4px 8px 0 rgba(31, 30, 30, 0.2), 0 6px 20px 0 rgba(36, 35, 35, 0.19);
}


@media only screen and (max-width: 480px) and (min-width: 0px) {
  body{
    overflow-x: hidden;
  }

.splash{
  background-image: url(yellowbg.jpg);
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: darken;
  background-repeat:repeat-y;
}


.book-cover{
  display: flex;
}    

body img{
 display: none;
  
}
#minorexcerpt{
 display: none;
  

  } 

.header{
  width: 100vw;
  height: 30vh;
  /* margin: -1%; */
}
.body{
    height: auto;
    width: 80vw;
    margin: auto;
    border-radius: 2em;
    z-index: -3 ;
    box-shadow: 10px 15px 20px;
    margin-top: 20vh;
    padding: 15px;
    background-color: rgb(20, 106, 187);
    
    
    /* background-image: linear-gradient( to bottom right, yellow, white); */
      
    
}
.content{
    background-color: white;
    padding: 2em;
    width: 60vw;

    height: 100vh;
    /* margin: auto; */
    transform: translate(5%);
    overflow-x: hidden;
    box-shadow: 10px 15px 20px;
    margin-top: 2vh;
    font-family: sans-serif;
    overflow: scroll;
    font-size: 0.7em;
    
    

}

.content p{
  font-size: 1.2em;
  line-height: 1.4em;
}

      
    
  
  
  li{
    display: flex;
    text-align: center;
    /* justify-content: space-around; */
    gap: 0.1em;
  }
  .navBar{
/* justify-content: center; */
width: 20vh;
/* border: solid; */
line-height: 20vh;
margin-top: -2vh;
position: absolute;
/* border: solid; */
/* padding-top: 35vh; */
margin-left: 1vh;
/* gap: 10vh; */
word-spacing: 1px;
font-size: 0.7em;

 }
 .navBar hr{
  display: none;
 }
 
 li a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    justify-content:  center;
    
 }
 li a:hover{
  transform: scale(1.1);
  color: blue;
 }
 #excerpt{
   font-style: italic;
    font-size: 1.4em;
    bottom: 5%;
    color: navy;
 }
 #excerptAnalysis{
    font-size: 1.2em;
 }
 .bookTitle{
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    /* background-color:rgb(20, 106, 187);; */
    /* border: solid; */
    /* width: 70vh; */
    margin: auto;
    /* margin-top: 40vh; */
    padding: 20px;
    height: 20vh;
    position: absolute;

    
 }

 .bookTitle h1{

 }

 .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
  font-size: smaller;
  color: black;
  border-radius: 10px;
  height: auto;
  line-height: 5vh;
  border-top: solid 5px yellow;
  border-bottom:  solid 5px yellow;
  

}
.dropdown-content a{
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown span{
    font-size: 1.5em;
    justify-content:  center;
}




.footer{
  display: block;
  justify-content: center;
 padding: 1%;
}
.footer li{
  font-size: 0.6em;
  text-align: left;
  line-height: 2vh;
  margin: auto;
  /* width: 10vh; */

  a{
    width: 30vh;
    /* margin: 0.5vh; */
  }
  a:hover{
   color: goldenrod;
  }
}
#footerTitle{
  color: rgb(20, 20, 61);

}
.footer{
  width: 99vw;
  height: auto;
  margin: -1%;
  margin-top: 10vh;
  background-color: rgb(20, 106, 187);
  backdrop-filter: blur(5px);
  
}
.blogs {
  position: absolute;
  top: 170%;
  left: 5%;
  width: 80vw;
  padding-left: 5%;
}


  
}

@media only screen and (max-width: 860px) and (min-width: 481px){


  body{
    overflow-x: hidden;
  }

.splash{
  background-image: url(yellowbg.jpg);
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: darken;
  /* background-repeat:repeat-y; */
}


.book-cover{
  display: flex;
}    

body img{
 display: none;
  
}
#minorexcerpt{
 display: none;
  

  } 

.header{
  width: 100vw;
  height: 30vh;
  /* margin: -1%; */
}
.body{
    height: auto;
    width: 72vw;
    margin: auto;
    border-radius: 2em;
    z-index: -3 ;
    box-shadow: 10px 15px 20px;
    margin-top: 20vh;
    padding: 15px;
    background-color: rgb(20, 106, 187);
    
    
    /* background-image: linear-gradient( to bottom right, yellow, white); */
      
    
}
.content{
    background-color: white;
    padding: 2em;
    width: 60vw;

    height: auto;
    /* margin: auto; */
    transform: translate(5%);
    overflow-x: hidden;
    box-shadow: 10px 15px 20px;
    margin-top: 2vh;
    font-family: sans-serif;
    overflow: scroll;
    font-size: 0.7em;
    
    

}

.content p{
  font-size: 1.2em;
  line-height: 1.4em;
}

      
    
  
  
  li{
    display: flex;
    text-align: center;
    /* justify-content: space-around; */
    gap: 0.1em;
  }
  .navBar{
/* justify-content: center; */
width: 20vh;
/* border: solid; */
line-height: 20vh;
margin-top: -2vh;
position: absolute;
/* border: solid; */
margin-left: 18vh;
/* gap: 10vh; */
word-spacing: 1px;
font-size: 0.7em;

 }
 .navBar hr{
  display: none;
 }
 
 li a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    justify-content:  center;
    
 }
 li a:hover{
  transform: scale(1.1);
  color: blue;
 }
 #excerpt{
   font-style: italic;
    font-size: 1.4em;
    bottom: 5%;
    color: navy;
 }
 #excerptAnalysis{
    font-size: 1.2em;
 }
 .bookTitle{
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    /* background-color:rgb(20, 106, 187);; */
    /* border: solid; */
    /* width: 70vh; */
    margin: auto;
    /* margin-top: 40vh; */
    padding: 20px;
    height: 20vh;
    position: absolute;
    width: 50vw;
    transform: translate(40%);
    
 }

 .bookTitle h1{

 }

 .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
  font-size: smaller;
  color: black;
  border-radius: 10px;
  height: auto;
  line-height: 5vh;
  border-top: solid 5px yellow;
  border-bottom:  solid 5px yellow;
  

}
.dropdown-content a{
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown span{
    font-size: 1.5em;
    justify-content:  center;
}




.footer{
  display: block;
  justify-content: center;
 padding: 1%;
}
.footer li{
  font-size: 0.8em;
  text-align: left;
  line-height: 2vh;
  margin: auto;
  /* width: 10vh; */

  a{
    width: 50vh;
    line-height: 3vh;
    /* margin: 0.5vh; */
  }
  a:hover{
   color: goldenrod;
  }
}
#footerTitle{
  color: rgb(20, 20, 61);

}
.footer{
  width: 99vw;
  height: auto;
  margin: -1%;
  margin-top: 10vh;
  background-color: rgb(20, 106, 187);
  backdrop-filter: blur(5px);
  
}
.blogs {
  position: absolute;
  top: 170%;
  left: 5%;
  width: 80vw;
  padding-left: 5%;
}

}

@media only screen and (max-width: 1300px) and (min-width: 861px){

  body{
    overflow-x: hidden;
  }

.splash{
  background-image: url(yellowbg.jpg);
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: darken;
  /* background-repeat:repeat-y; */
}


.book-cover{
  display: flex;
}    

body img{
 display: none;
  
}
#minorexcerpt{
 display: none;
  

  } 

.header{
  width: 100vw;
  height: 30vh;
  /* margin: -1%; */
}
.body{
    height: auto;
    width: 72vw;
    margin: auto;
    border-radius: 2em;
    z-index: -3 ;
    box-shadow: 10px 15px 20px;
    margin-top: 20vh;
    padding: 15px;
    background-color: rgb(20, 106, 187);
    
    
    /* background-image: linear-gradient( to bottom right, yellow, white); */
      
    
}
.content{
    background-color: white;
    padding: 2em;
    width: 60vw;

    height: auto;
    /* margin: auto; */
    transform: translate(5%);
    overflow-x: hidden;
    box-shadow: 10px 15px 20px;
    margin-top: 2vh;
    font-family: sans-serif;
    overflow: scroll;
    font-size: 0.7em;
    
    

}

.content p{
  font-size: 1.2em;
  line-height: 1.4em;
}

      
    
  
  
  li{
    display: flex;
    text-align: center;
    /* justify-content: space-around; */
    gap: 0.1em;
  }
  .navBar{
/* justify-content: center; */
width: 20vh;
/* border: solid; */
line-height: 20vh;
margin-top: -2vh;
position: absolute;
/* border: solid; */
margin-left: 18vh;
/* gap: 10vh; */
word-spacing: 1px;
font-size: 0.7em;

 }
 .navBar hr{
  display: none;
 }
 
 li a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    justify-content:  center;
    
 }
 li a:hover{
  transform: scale(1.1);
  color: blue;
 }
 #excerpt{
   font-style: italic;
    font-size: 1.4em;
    bottom: 5%;
    color: navy;
 }
 #excerptAnalysis{
    font-size: 1.2em;
 }
 .bookTitle{
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    /* background-color:rgb(20, 106, 187);; */
    /* border: solid; */
    /* width: 70vh; */
    margin: auto;
    /* margin-top: 40vh; */
    padding: 20px;
    height: 20vh;
    position: absolute;
    width: 50vw;
    transform: translate(40%);
    
 }

 .bookTitle h1{

 }

 .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
  font-size: smaller;
  color: black;
  border-radius: 10px;
  height: auto;
  line-height: 5vh;
  border-top: solid 5px yellow;
  border-bottom:  solid 5px yellow;
  

}
.dropdown-content a{
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown span{
    font-size: 1.5em;
    justify-content:  center;
}




.footer{
  display: flex;
  justify-content: center;
 padding: 1%;
}
.footer li{
  font-size: 0.8em;
  text-align: left;
  line-height: 2vh;
  margin: auto;
  /* width: 10vh; */

  a{
    width: 50vh;
    line-height: 3vh;
    /* margin: 0.5vh; */
  }
  a:hover{
   color: goldenrod;
  }
}
#footerTitle{
  color: rgb(20, 20, 61);

}
.footer{
  width: 99vw;
  height: auto;
  margin: -1%;
  margin-top: 10vh;
  background-color: rgb(20, 106, 187);
  /* backdrop-filter: blur(5px); */
  
}
.blogs {
  position: absolute;
  top: 170%;
  left: 5%;
  width: 80vw;
  padding-left: 5%;
}



}



